@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{

box-sizing:border-box;

}


body{

margin:0;

font-family:Poppins,sans-serif;

}




button{

cursor:pointer;

font-family:Poppins;

border:none;

}





/* HOME */


.home{


height:100vh;


display:flex;


align-items:center;


padding:70px;


color:white;


background:

linear-gradient(135deg,#080b3d,#6237ff);


}



.home h1{


font-size:60px;


}



.home p{


font-size:20px;


width:450px;


}




.primary{


background:white;


color:#5535ff;


padding:15px 40px;


border-radius:15px;


font-weight:600;


}






/* AUTH */


.page-bg{


height:100vh;


display:flex;


align-items:center;


justify-content:center;



background:

linear-gradient(135deg,#090b42,#6845ff);


}





.auth-box{


width:430px;


padding:45px;


border-radius:30px;


background:rgba(255,255,255,0.15);


backdrop-filter:blur(20px);


color:white;


box-shadow:0 20px 50px #0005;


text-align:center;


}



.auth-heading{


font-size:38px;


font-weight:700;


margin-bottom:20px;


line-height:50px;


}



.auth-sub{


margin-bottom:25px;


}



.auth-box input{


width:100%;


padding:16px;


margin:12px 0;


border-radius:14px;


border:none;


outline:none;


font-size:15px;


}




.main-btn{


width:100%;


padding:16px;


margin-top:20px;


border-radius:14px;


background:

linear-gradient(90deg,#9b6cff,#5535ff);


color:white;


font-size:17px;


font-weight:600;


}



.back{


margin-top:18px;


padding:12px 30px;


border-radius:14px;


background:#ffffff33;


color:white;


}



.back:hover{


background:white;


color:#5535ff;


}








/* DASHBOARD */


.layout{


display:flex;


min-height:100vh;


}





.sidebar{


width:260px;


background:

linear-gradient(180deg,#764cff,#4324d8);


padding:30px;


color:white;


}





.logo{


font-size:25px;


font-weight:700;


margin-bottom:40px;


}




.nav-btn{


width:100%;


padding:15px;


margin:10px 0;


border-radius:15px;


background:#ffffff22;


color:white;


text-align:left;


font-size:16px;


}





.nav-btn:hover{


background:white;


color:#5535ff;


}





.content{


flex:1;


padding:40px;


background:#f5f6ff;


color:black;


}




.title{


font-size:35px;


color:black;


}





.grid{


display:grid;


grid-template-columns:repeat(3,1fr);


gap:25px;


}







/* SERVICE CARD */



.service{


background:white;


padding:25px;


border-radius:25px;


box-shadow:0 15px 40px #ddd;


color:black;


}





.service h2,
.service h3,
.service p{


color:black;


}



.service button{


width:100%;


padding:14px;


background:#20b56a;


color:white;


border-radius:12px;


}







/* TRACKING */



.track-page{


min-height:100vh;


padding:40px;


background:

linear-gradient(135deg,#1c2570,#667eea);


color:white;


}





.track-title{


font-size:35px;


margin-top:30px;


}




.track-card{


margin-top:30px;


padding:35px;


border-radius:30px;


background:

linear-gradient(120deg,#5847ff,#8a7cff);


display:flex;


justify-content:space-between;


align-items:center;


gap:40px;


}




.token{


font-size:45px;


font-weight:700;


}



.status-box{


background:white;


color:#333;


padding:20px 40px;


border-radius:20px;


text-align:center;


}




.info{


display:flex;


gap:25px;


margin-top:30px;


}





.info div{


background:white;


color:#222;


padding:25px;


border-radius:20px;


flex:1;


text-align:center;


}





.info h2{


font-size:32px;


color:#5535ff;


}




.leave{


margin-top:35px;


padding:15px 45px;


border-radius:15px;


background:white;


color:red;


border:2px solid red;


font-weight:600;


}










/* HISTORY */


.history-page{


min-height:100vh;


padding:40px;



background:

linear-gradient(135deg,#1c2570,#667eea);



color:white;


}





.history-page h1{


font-size:40px;


margin-top:30px;


margin-bottom:35px;


color:white;


}





.history-card{


display:inline-block;


vertical-align:top;


width:350px;


min-height:300px;


background:white;


padding:30px;


margin:15px;


border-radius:25px;


box-shadow:0 20px 45px #0004;


color:black;


}




.history-card h2{


font-size:40px;


margin:0 0 20px;


color:#5535ff;


}





.history-card p{


font-size:16px;


margin:15px 0;


color:#222;


}




.delete-btn{


margin-top:20px;


width:100%;


padding:14px;


border-radius:14px;


background:#ff3434;


color:white;


font-size:16px;


font-weight:600;


}






/* PROFILE */



.profile-page{


min-height:100vh;


padding:40px;


background:

linear-gradient(135deg,#1c2570,#667eea);


color:white;


}





.profile-title{


font-size:40px;


margin-top:30px;


}




.profile-card{


margin-top:35px;


width:500px;


padding:40px;


border-radius:30px;


background:

linear-gradient(120deg,#5847ff,#8a7cff);


box-shadow:0 20px 50px #0005;


text-align:center;


}




.profile-avatar{


font-size:70px;


}




.profile-details{


background:white;


padding:25px;


border-radius:20px;


color:#222;


text-align:left;


}




.profile-details p{


font-size:17px;


margin:15px 0;


}




.profile-details b{


color:#5535ff;


}



.auth-heading{

font-size:32px;

font-weight:700;

text-align:center;

margin:0 0 25px 0;

padding:0;

line-height:45px;

}



.auth-box{

display:flex;

flex-direction:column;

justify-content:center;

}



.auth-box input{

margin:10px 0;

}



.auth-sub{

margin:0 0 25px 0;

font-size:15px;

}